<div>
<%= form_tag do |f| %>
<div>
<label> Select NGO: </label>
<%= select_tag :ngo, options_for_select((@ngos.collect{|o| [o.name, o.id]})) %>
</div>

<div>
<label> Select State: </label>
<%= select_tag :state, options_for_select(@states.collect{|o| [o.name, o.id]}) %>
</div>

<div>
<label> Select District: </label>
<%= select_tag :district, options_for_select(@districts.collect{|o| [o.name, o.id]}) %>
</div>
<% end %>
</div>

