
<%=javascript_include_tag "education"%>

<h1>Welcome to Education !!!</h1>

<%= render :partial => 'form'%>
<div class="demo">

<p>
	<label for="amount">Select age range:</label>
	<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;" />
</p>

<div id="slider-range" style="height:250px;"></div>

</div>


