<label for="state">Select State:</label>&nbsp;
  <%=select_tag :state, options_for_select(options_for_states(@states)), :id => "state_id"%>&nbsp;<%=image_tag 'small_spinner.gif', :id => 'state_spinner', :style => "display:none;"%>

