= javascript_include_tag 'gmaps4rails/bing.js', 'gmaps4rails/gmaps4rails.googlemaps.js', 'gmaps4rails/mapquest.js', 'gmaps4rails/openlayers.js', 'gmaps4rails/all_apis.js'
= gmaps4rails(@json)
= link_to 'New NGO', new_ngo_path