/* 
  Very weird: for some reason when jquery is computing heights
  it doesn't correctly accommodate the height of the interior p element
  except when the containing slide is not displayed
*/
.slide {
    display:none;
}

.clear-slide-header {
    clear:both;
}

body {
    background:#EEEEDD;
}
.slide {
    display:none;
}
#slides .slide-header {
    display: none
}
#slides .slide-footer {
    margin:0;
    width: 200px;
}
.slide-footer .previous {
    width:75px;
    float:left;
}
.slide-footer .next {
    width:75px;
    float:right;
    text-align:right;
}

.people {
  display:none;
}
#people .people-header {
  display: none
}
#people .people-footer {
  margin:0;
  width: 200px;
}
.people-footer .previous {
  width:75px;
  float:left;
}
.people-footer .next {
  width:75px;
  float:right;
  text-align:right;
}

/*preload classes*/
.svw {width: 50px; height: 20px; background: #fff  ;}
.svw ul {position: relative; left: -999em;}

/*core classes*/
.stripViewer {
position: relative;
overflow: hidden;
border: 5px solid #ff0000  ;
margin: 0 0 1px 0;
}
.stripViewer ul { /* this is your UL of images */
margin: 0;
padding: 0;
position: relative;
left: 0;
top: 0;
width: 1%;
list-style-type: none;
}
.stripViewer ul li {
float:left;
}
.stripTransmitter {
overflow: auto;
width: 1%;
}
.stripTransmitter ul {
margin: 0;
padding: 0;
position: relative;
list-style-type: none;
}
.stripTransmitter ul li{
width: 20px;
float:left;
margin: 0 1px 1px 0;
}
.stripTransmitter a{
font: bold 10px Verdana, Arial;
text-align: center;
line-height: 22px;
background: #ff0000  ;
color: #fff  ;
text-decoration: none;
display: block;
}
.stripTransmitter a:hover, a.current{
background: #fff  ;
color: #ff0000  ;
}

/*tooltips formatting*/
.tooltip
{
padding: 0.5em;
background: #fff  ;
color: #000  ;
border: 5px solid #dedede  ;
}