<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <%= stylesheet_link_tag 'scaffold', 'styles' %>
  <%= javascript_include_tag 'jquery', 'jquery.sizes', 'jquery.electric-slide', 'jquery-ui' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
